<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ColdWarCamo.AssaultRifles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.SubmachineGuns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.TacticalRifles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.LightMachineGuns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.SniperRifles" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.Pistols" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.Shotguns" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.RocketLaunchers" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.Specials" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ColdWarCamo.Completed" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <ColdWarCamo.AssaultRifles>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="XM4_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="XM4_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="XM4_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="XM4_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="XM4_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK47_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AK47_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AK47_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AK47_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK47_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KRIG6_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KRIG6_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KRIG6_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KRIG6_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KRIG6_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="QBZ83_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="QBZ83_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="QBZ83_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="QBZ83_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="QBZ83_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="FFAR1_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="FFAR1_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="FFAR1_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="FFAR1_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="FFAR1_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.AssaultRifles>
        <ColdWarCamo.SubmachineGuns>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MP5_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MP5_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MP5_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MP5_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MP5_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MILANO821_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MILANO821_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MILANO821_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MILANO821_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MILANO821_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK74U_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AK74U_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AK74U_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AK74U_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK74U_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KSP45_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KSP45_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KSP45_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KSP45_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KSP45_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="BULLFROG_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BULLFROG_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="BULLFROG_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="BULLFROG_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="BULLFROG_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.SubmachineGuns>
        <ColdWarCamo.TacticalRifles>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="TYPE63_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TYPE63_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="TYPE63_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="TYPE63_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="TYPE63_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M16_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M16_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M16_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M16_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M16_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AUG_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AUG_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AUG_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="AUG_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AUG_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DMR14_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DMR14_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="DMR14_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="DMR14_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DMR14_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.TacticalRifles>
        <ColdWarCamo.LightMachineGuns>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="STONER63_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="STONER63_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="STONER63_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="STONER63_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="STONER63_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPD_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RPD_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="RPD_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="RPD_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPD_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M60_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M60_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M60_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M60_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M60_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.LightMachineGuns>
        <ColdWarCamo.SniperRifles>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PELINGTON703_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PELINGTON703_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="PELINGTON703_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="PELINGTON703_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="PELINGTON703_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="LW3TUNDRA_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LW3TUNDRA_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="LW3TUNDRA_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="LW3TUNDRA_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="LW3TUNDRA_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M82_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M82_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M82_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M82_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M82_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.SniperRifles>
        <ColdWarCamo.Pistols>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="M1911_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M1911_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M1911_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M1911_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M1911_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MAGNUM_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MAGNUM_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MAGNUM_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="MAGNUM_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MAGNUM_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DIAMATTI_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="DIAMATTI_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="DIAMATTI_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="DIAMATTI_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DIAMATTI_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.Pistols>
        <ColdWarCamo.Shotguns>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="HAUER77_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HAUER77_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="HAUER77_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="HAUER77_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="HAUER77_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="GALLOSA12_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GALLOSA12_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="GALLOSA12_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="GALLOSA12_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="GALLOSA12_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.Shotguns>
        <ColdWarCamo.RocketLaunchers>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="CIGMA2_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="CIGMA2_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="CIGMA2_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="CIGMA2_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="CIGMA2_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPG7_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="RPG7_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="RPG7_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="RPG7_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPG7_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.RocketLaunchers>
        <ColdWarCamo.Specials>
            <setting name="Last" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="KNIFE_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="KNIFE_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KNIFE_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="KNIFE_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KNIFE_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M79_LEVEL" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="M79_CAMO_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M79_CAMO_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000</value>
            </setting>
            <setting name="M79_STATS_MP" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M79_STATS_ZM" serializeAs="String">
                <value>0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.Specials>
        <ColdWarCamo.Completed>
            <setting name="XM4_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="XM4_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK47_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK47_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KRIG6_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KRIG6_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="QBZ83_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="QBZ83_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="FFAR1_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="FFAR1_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MP5_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MP5_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MILANO821_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MILANO821_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK74U_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AK74U_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KSP45_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KSP45_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="BULLFROG_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="BULLFROG_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="TYPE63_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="TYPE63_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M16_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M16_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AUG_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="AUG_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DMR14_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DMR14_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="STONER63_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="STONER63_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPD_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPD_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M60_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M60_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="PELINGTON703_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="PELINGTON703_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="LW3TUNDRA_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="LW3TUNDRA_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M82_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M82_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M1911_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M1911_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MAGNUM_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="MAGNUM_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DIAMATTI_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="DIAMATTI_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="HAUER77_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="HAUER77_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="GALLOSA12_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="GALLOSA12_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="CIGMA2_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="CIGMA2_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPG7_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="RPG7_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KNIFE_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="KNIFE_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M79_MP" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
            <setting name="M79_ZM" serializeAs="String">
                <value>00000000000000000000000000000000000000|1|0,0,0,0,0,0,0</value>
            </setting>
        </ColdWarCamo.Completed>
    </userSettings>
</configuration>